{% setcontent careeritems = '/careers/latest/5' %}
<ul class="unstyled">
    {% for item in careeritems %}
    <li>
        <a href="{{item.link()}}">{{item.title}}</a>
        <p>{{item.location}}</p>
        <p>{{item.description}}</p>
    </li>
    {% endfor %}
</ul>