{% setcontent careeritems = '/careers/latest/5' %}
{% if careeritems|length > 0 %}
<ul class="unstyled">
    {% for item in careeritems %}
    <li>
        <a href="{{item.link()}}">{{item.title}}</a>
        <p><small>in {{item.location}}</small></p>
        <p>{{item.description}}</p>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>None right now. Please check back often.</p>
{% endif %}