<div class="container" role="banner" id="masthead">
        <div class="row">
            <div class="span6">
                <a href="{{paths.root}}">
                    {% include '_logo.twig' %}
                    <h1 class="hide-text">Anishinaabe Abinoojii Family Services</h1>
                    <!-- /.hide-text -->
                </a>
            </div>
            <!-- /.span6 -->
            <div class="span6">
                <div class="row">
                    <div class="span6">
                        <nav role="navigation" id="nav_main">
                    <ul>
                        {{ menu('topnav','_menu_topnav.twig') }}
                    </ul>
                </nav>
                    </div>

                </div>
                <div class="row">
                    <div class="span4 offset2">
                        <a class="btn btn-danger pull-right" id="report-it" href="#report-it-modal" data-toggle="modal">A Child in Need? Report It!</a>
                        {% include '_report-it.twig' %}
                    </div>
                </div>
            </div>
            <!-- /.span6 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /#masthead.container -->
