{% setcontent pagelist = 'pages' %}
<ul class="unstyled">
    {% for pageitem in pagelist %}
        <li {% if paths.current == '/{{pageitem.slug}}' %}class="active"{% endif %}><a href="/{{pageitem.slug}}">{{pageitem.title}}</a></li>
    {% endfor %}
</ul>