{% setcontent aboutlinks = 'pages' where {sections: 'about'} %}
<div class="span3">
<ul class="unstyled">
    {% for link in aboutlinks %}
    <li><a href="/{{link.slug}}">{{link.title}}</a></li>
    {% endfor %}
</ul>
</div>

{% setcontent programlinks = 'pages' where {sections: 'programs'} %}
<div class="span3">
<ul class="unstyled">
    {% for link in programlinks %}
    <li><a href="/{{link.slug}}">{{link.title}}</a></li>
    {% endfor %}
</ul>
</div>