    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-target="#" data-toggle="dropdown">Who We Are</a>
        <ul class="dropdown-menu">
            {% setcontent aboutlinks = 'pages' where {sections: 'about'} %}
            {% for link in aboutlinks %}
            <li><a href="/{{link.slug}}">{{link.title}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown">
        <a href="" class="dropdown-toggle" data-target="#" data-toggle="dropdown">What We Do</a>
        <ul class="dropdown-menu">
            {% setcontent programlinks = 'pages' where {sections: 'programs'} %}
            {% for link in programlinks %}
            <li><a href="/{{link.slug}}">{{link.title}}</a></li>
            {% endfor %}
        </ul>
    </li>
    <li class="dropdown"><a href="/careers">Join Our Team</a></li>
    <li class="dropdown"><a href="/contact">Get In Touch</a></li>