{% setcontent news = 'entries/latest/5' %}
<ul class="unstyled">
    {% for item in news %}
        <li>
            <h4><a href="{{item.link()}}">{{item.title}}</a></h4>
            <h5>{{item.publisheddate|date('F j, Y')}}</h5>
            {% if item.teaser %}{{item.teaser}}{% else %}item.excerpt(300){% endif %}
        </li>
    {% endfor %}
</ul>