<footer>
	<hr />
		<div class="container">
			<div class="row">
			<div class="span3">
			{% include "_locations.twig" %}
            </div>
			<div class="span9">
				<div class="row">
					{% include '_menu_footer.twig' %}
					<div class="span3">
						<div class="colophon"><h6>Need Help?</h6>
												<ul class="unstyled">
												<li><i class="icon-phone"></i><span class="help">1-866-420-9990</span> &mdash; 24 Hours</li>
												</ul>
												<ul class="textnav meta">
						                            <li>Copyright &copy;2004&ndash;{{"now"|date("Y")}} <br /> Anishinaabe Abinoojii Family Services</li>
													<li><a href="/privacy-policy/">Privacy Policy</a> | <a href="https://virtualoffice.aafs.ca/" target="_blank">Staff Portal</a></li>
												</ul></div>
					</div>
				</div>
			</div>
		</div>
		</div>
	</footer>
