{% setcontent latestpromos = 'promos/latest/5' %}
{% if latestpromos|length > 0 %}
<div class="carousel" id="myCarousel">
    <div class="carousel-inner">
    {% for promo in latestpromos %}
            <div class="item{% if loop.first %} active{% endif %}">
                {% set relations = promo.related() %}
                {% if relations|length > 0 and promo.weblink is empty %}
                    {% for relation in relations %}
                        <a href="{{relation.link()}}">
                    {% endfor %}
                {% elseif promo.weblink is not empty %}
                        <a href="{{promo.weblink}}">
                {% endif %}
                <img src="{{paths.files}}/{{promo.image}}" />
                {% if relations|length > 0 or promo.weblink is not empty %}
                    </a>
                {% endif %}
            </div>
    {% endfor %}
    </div>
</div>
{% endif %}