{% setcontent latestpromos = 'promos/latest/5' %}
<div class="carousel" id="myCarousel">
    <div class="carousel-inner">
    {% for latestpromo in latestpromos %}
        {% for promo in latestpromo %}
        <div class="item">
            {% if promo.link %}<a href="{{promo.link}}">{% endif %}
            <img src="{{promo.image}}" alt="{{promo.title}}" />
            {% if slide.link %}</a>{% endif %}
        </div>
        {% endfor %}
    {% endfor %}
    </div>
    <a href="#myCarousel" class="carousel-control left" data-slide="prev">&lt;</a><a href="#myCarousel" class="carousel-control right" data-slide="next">&gt;</a>
</div>