{% extends "_base.twig" %}
{% block main %}
{% setcontent offices = 'locations' %}
{% for office in offices %}
    <div class="row">
        <div class="office">
            <div class="span9"><h4 class="vig">{{office.english_name}}</h4></div>
            <div class="span3">
                <div class="map"></div>
            </div>
            <div class="span3">
                <div class="address">
                    <p class="street"></p>
                    <p class="mailing"></p>
                    <p class="city"></p>
                    <p class="postal"></p>
                </div>
            </div>
            <div class="span3">
                <div class="contacts">
                    <p class="phone"></p>
                    <p class="fax"></p>
                    <p class="email"></p>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}