{% extends "_base.twig" %}
{% block main %}
{% if record.image and record.image != "" %}
<img src="{{record.image|image}}" />
{% endif %}
<div class="row">
    <div class="span6">{{record.body}}</div>
    <div class="span3">{% include '_anishnabeg.twig' %}</div>
</div>
{% endblock %}
