{% extends "_base.twig" %}
{% block main %}
<h5>{{record.datepublished|date('F j, Y')}} <small>in {{record.categories}}</small></h5>
{% if record.image %}
<img src="{{record.image}}" alt="" />
{% endif %}
{{record.body}}
{% endblock %}