{% extends "_base.twig" %}
{% block contenttitle %}Latest Agency News{% endblock %}
{% block main %}
{% for record in records %}
    <h3><a href="{{record.link()}}">{{record.title}}</a></h3>
    {% if record.teaser %}
        {{record.teaser}}
    {% elseif record.introduction %}
        {{record.introduction}}
    {% endif %}
{% endfor %}
{% endblock %}