{% extends "_base.twig" %}
{% block main %}

<div class="container" id="content">
    <div class="row">
        <div class="span6">
            <div class="row">
                <div class="span6">
                    <h4 class="vig">The Latest Agency News</h4>
                   {% include '_news.twig' %}
                </div>
            </div>
            <div class="row">
                <div class="span3 bdr-right">
                    <h4 class="vig">Work With Us</h4>
                    {% include '_careers.twig' %}
                </div>
                <div class="span3">
                    <h4 class="vig">What&rsquo;s Happening Here?</h4>
                    {% include '_events.twig' %}
                </div>
            </div>
        </div>
        <div class="span6">
            {% include '_anishnabeg.twig' %}
        </div>
    </div>
</div>
{% endblock %}
