{% extends '_base.twig' %}
{% block contenttitle %}Our People{% endblock %}
{% block main %}
{% setcontent peoples = 'people' %}
{% for person in peoples %}
<div class="media">
    <img src="http://placehold.it/180x180" alt="Picture of {{person.name}}" class="media-object pull-left">
    <div class="media-body">
        <h4 class="media-heading">{{person.name}} &mdash; <small>{{person.title}}</small></h4>
    </div>
</div>
{% endfor %}
{% endblock %}