#logo {
    margin: 20px 0 auto;
}

#myCarousel {
    border: 0;
    -moz-box-shadow: 0px 4px 2px -2px #e2e2e2;
    -o-box-shadow:0px 4px 2px -2px #e2e2e2;
    -ms-box-shadow:0px 4px 2px -2px #e2e2e2;
}

.carousel-control {
    background: none;
    border: 0;
    font-family: lato;
    font-size: 100px;
    font-weight: 100;
    top: 50%;
}

.meta {
    font-size: 0.8em;
    padding-top:25px;
}

.textnav {
    list-style: none;
    margin-left: 0;
}

.vig {
    /*color: #4e7fbf;*/
    font-family: 'Open Sans Condensed';
    font-weight: 300;
    padding: 12px 0;
    -webkit-text-shadow: 0px 0px 1px #ccc;
    -moz-text-shadow: 0px 0px 1px #ccc;
    -o-text-shadow: 0px 0px 1px #ccc;
    -ms-text-shadow: 0px 0px 1px #ccc;
    text-shadow: 0px 0px 1px #ccc;
    font-size:1.618em;
}

div.infobox.infobox--hotline {
    color: #bf382c;
    font-family: 'Open Sans';
    text-align: center;
}

html,* {
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-rendering: optimizelegibility;
}

nav>ul {
    display: table;
    width: 100%;
    table-layout: fixed;
    margin: 45px 0px 5px;
}

nav>ul>li {
    font-family: 'Open Sans Condensed';
    -webkit-text-shadow:0px 0px 1px #444;
    -moz-text-shadow:0px 0px 1px #444;
    -o-text-shadow:0px 0px 1px #444;
    -ms-text-shadow:0px 0px 1px #444;
    font-size: 1.3em;
    text-shadow: 0px 0px 1px #444;
    display:table-cell;
    text-align:center;
    vertical-align:middle;
}

#nav_main ul>li>a {
    color:black;
}

#nav_main {
    margin-bottom:0;
}

#nav_main li a:hover {
    text-decoration:none;
    color:#bf382c;
}

#nav_main>ul>li>a:focus {
    text-decoration: none;
}

a {
    color: #bf382c;
}

.page-header {
    font-family:'Open Sans Condensed';
    font-weight:300;
    letter-spacing:1px;
}

.nav-list>.active>a, .nav-list>.active>a:hover, .nav-list>.active>a:focus {
    background:#a63126;
}

footer {
    margin-top:40px;
}

body {
    font-family:'Open Sans';
}

.shim-top {
    margin-top:25px;
}

.text-small {
    font-size:0.89em;
}

.dropdown-menu {
    border-radius: 0;
    box-shadow: none;
    border:1px solid #f2f2f2;
    margin:8px 0 0;
    background-color:#fafafa;
}

.dropdown-menu>li {
    font-size: 0.8em;
    text-shadow: none;
}

.dropdown-menu>li>a {
    margin-left:0;
}

.dropdown-menu>li>a:hover {
    background-image: none;
    background-color:#fff;
    color:#333;
    text-shadow:none;
}

.tree li.active {
    background-color:#bf382c;
    padding-left:15px;
}

li.active a {
    color:#fff;
}
.unstyled li {
    margin-left: 0;
}

.tree {
    background-color:#fafafa;
    padding: 20px;
    border:1px solid #f2f2f2;
    display:table;
}

.tree li {
    line-height:24px;
}

.help {
    color:#bf382c;
    font-size:1.2em;
}